#result {
    width: 265px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-bottom: ridge;
    color: beige;
    background: #0d0c1d;
    font-size: x-large;
    box-sizing: border-box;
}

h1{
    margin-left: 125px;
    font-size: large;
}
.num-btn {
    border-color: #945800;
    color: white;
    background: #945800;
    height: 10px;
    padding: 25px;
    font-size: 15px;
    border-radius: 5px;
    width: 10px;
}

.num-btn:hover {
    background-color: rgb(143, 143, 211);
    color: white;
}


.calc {
    background-color: #0d0c1d;
    width: 270px;
    padding: 15px;
    margin-left: 50px;
    border-radius: 20px;
    height: 550px;
}



.zero {
    border-color: #945800;
    color: white;
    background: #945800;
    width: 55px;
    height: 57px;
    border-radius: 5px;
    font-size: larger;
    text-align: center;
}

.dot {
    margin-left: -66px;
    margin-top: 2px;
    border-color:  #FFC95F;
    color: white;
    background:  #FFC95F;
    width: 63px;
    height: 63px;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
}

.plus {
    background-color: #FFC95F;
    width: 53px;
    margin-left: 3px;
    height: 58px;
    border-radius: 7px;
    font-size: larger;
    text-align: center;
}

.minus {
    background-color: #FFC95F;
    width: 53px;
    margin-left: 3px;
    height: 58px;
    border-radius: 7px;
    font-size: larger;
    text-align: center;
}
.divide {
    background-color: #FFC95F;
    width: 53px;
    height: 58px;
    border-radius: 7px;
    font-size: larger;
    margin-left: 2px;
    text-align: center;
}
.equals {
    background-image: linear-gradient(#FFC95F 25%, #945800 90%);
    width: 53px;
    margin-left: 3px;
    height: 58px;
    border-radius: 7px;
    font-size: larger;
    text-align: center;
}

.clear {
    color: white;
    background-color: #d67229;
    width: 133px;
    height: 64px;
    border-radius: 7px;
    font-size: larger;
}
.delete {
    margin-top: 2px;
    margin-left: 1px;
    border-color: #945800;
    color: white;
    background: #945800;
    width: 63px;
    height: 63px;
    border-radius: 5px;
}



.times {
    background-color: #FFC95F;
    width: 53px;
    height: 59px;
    border-radius: 7px;
    margin-left: -65px;
    color: BLACK;
    text-align: center;
}


@media (max-width: 320px){
    .calc {   
        margin-left: 2px;
    }  
    h1 {   
        margin-left:60px;
    }  
}







